# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dependencies (reproduced via `forge install`)
lib/

# Docs
docs/

# Dotenv file
.env

# macOS
.DS_Store

# IDE
.idea/
.vscode/

!raffle-ui/lib